.fontQuicksand {
  font-family: 'Quicksand', sans-serif !important; }

.fontNunito {
  font-family: 'Nunito', sans-serif !important; }

.Dashboard {
  box-shadow: 0px 0px 15px 5px #c7c7c7;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 50px; }
  .Dashboard .banner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000; }
    .Dashboard .banner img.bg {
      width: 100%;
      height: 150px; }
    .Dashboard .banner img.avatar {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-position: center;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 1000;
      border: 5px solid #3f78a7; }
  .Dashboard .name {
    margin-top: 100px;
    text-align: center;
    color: #3f78a7; }
  .Dashboard .box-setting {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    box-shadow: 0 0 5px 5px #cacaca; }
    .Dashboard .box-setting h2 {
      color: #3f78a7; }
