---
---

@import "{{ site.theme }}";

$width_content: 800px;

.fontNunito {
    font-family: 'Nunito', sans-serif !important;
}

h1 {
		font-size: 32px;
		@extend .fontNunito;
}

h2 {
		font-size: 26px;
		@extend .fontNunito;
}

h3 {
    font-size: 22px;
		color: white;
		@extend .fontNunito;
}

body {
		padding-bottom: 0px;
		@extend .fontNunito;
}

.wrapper,
section {
    max-width: $width_content;
}

#header {
    height: 40px;
    nav {
        max-width: $width_content;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        li.fork {
            line-height: 40px;
            a {
                padding: 6px 15px;
                background-color: #006846;
                border-color: white !important;
                transition-duration: 0.2s;
                &:hover {
                    background-color: #000000;
                }
            }
        }
    }
}

footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #383838;
    font-size: 14px !important;
    a {
        color: white !important;
    }
}
